.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.channels {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.channels button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.channels button img {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .channels {
    flex-direction: column;
  }
  .channels button {
    flex: 1;
    width: 100%;
  }
}
