.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
}

.channels {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
}

.container h2 {
  font-size: 3rem;
  color: var(--neutral);
  font-weight: bold;
  text-transform: capitalize;
}

.container button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .container h2 {
    font-size: 2rem;
    text-align: center;
  }
}
