:root {
  /* Colors */
  --primary-color: #ff0000; /* Red */
  --secondary-color: #00ff00; /* Green */
  --accent-color: #1079c0; /* Blue */
  --neutral: rgb(112, 112, 218);

  --background-light: #f4f4f4;
  --background-dark: #1f1f1f;

  --text-light: #ffffff;
  --text-dark: #333333;

  /* Spacing */
  --spacing: 0.8rem;
  --radius: 0.5rem;
  --container-max-width: 1300px;

  /* Shadows */
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  /* Transition */
  --transition: all 0.3s ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background-color: var(--background-light);
  color: var(--text-dark);
  transition: var(--transition);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-light);
  transition: var(--transition);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  background-color: var(--accent-color);
  text-transform: capitalize;
  color: var(--text-light);
  padding: 1rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

input[type="submit"] {
  background-color: var(--primary-color);
  text-transform: capitalize;
  color: var(--text-light);
  padding: 1rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

input[type="submit"]:hover {
  opacity: 0.3;
}

input:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

button:hover {
  opacity: 0.5;
}

/* Add more styles based on your specific design and components */
