.container {
  width: 20rem;
  height: 27rem;
  border-radius: var(--radius);
  background: var(--neutral);
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 99;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
}

.container a {
  font-size: 1.2rem;
  padding: 0.5rem;
  text-transform: capitalize;
  border: 1px solid rgb(65, 64, 64);
  width: 100%;
  border-radius: var(--radius);
  text-align: center;
}

.container a:hover {
  opacity: 0.5;
}

.container button {
  background-color: var(--primary-color);
  align-self: self-start;
  justify-content: center;
  width: 100%;
}

.container button:hover {
  opacity: 0.5;
  color: var(--text-light);
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.img {
  border-radius: 50%;
}

.signout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
