.lightContainer {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  background: var(--background-light);
  transition: var(--transition);
}

.darkContainer {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  background: var(--background-dark);
  transition: var(--transition);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.logo span {
  font-weight: bold;
  font-size: 1.5rem;
}

.form {
  flex: 1;
}

.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.bars {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide {
    display: none;
  }
  .bars {
    display: flex;
  }
  .icons {
    gap: 1rem;
  }
}
