.form {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  flex: 1;
  padding: 0.2rem 1rem;
  border: 2px solid rgb(59, 58, 58);

  border-radius: 2rem;
}

.form input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.2rem;
  color: var(--text-light);
}

.search {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form {
    display: none;
  }
}
